.example {
    color: #FFF;
    text-align: center;
}

/* DISPLAY INLINE NÃO NOS DEIXA DEFINIR ALTURA E LARGURA DOS ELEMENTOS */
/* DISPLYA BLOCK OCUPA A TELA TODA  */

.example-item {
    /* display: inline; */
    width: 33.333%;
    height: 150px;
    /* text-align: center; */
}

.item-first {
    background-color: orange;
}

.item-second {
    background-color: rgb(4, 236, 198);
    margin-left: auto;
}

.item-third {
    background-color: rgb(15, 166, 253);
    margin-left: auto;
    margin-right: auto;
}